.jumbotron {
    padding-top: 2rem;
    background-color: goldenrod;
}
#About {
    padding-top: 2rem;
}
.nav li {
    background-color:white;
    background-color: ;
}
.navbar{
    background-color: lightgoldenrodyellow;
}
#footer {
    background-color: lightgoldenrodyellow;
}
#Skills {
    background-color: lightgoldenrodyellow;
}
#Education {
    background-color:lightgoldenrodyellow ;
}
#Internship Experiences {
    background-color: lightgoldenrodyellow;
}
#magang {
    background-color: lightgoldenrodyellow;
}